# Data Manipulation Studio

For this studio, we will revisit our California farmers looking for advice on growing pumpkins and the same [pumpkins dataset](https://www.kaggle.com/usda/a-year-of-pumpkin-prices) as provided by the U.S. Department of Agriculture. You may have to clean data in the process of data manipulation, so feel free to pull up your notebook from the last class's studio.

We will now be focusing our attention on a different region in the United States, the Northeast. When you open up the `dataset` folder, you will have 13 CSVs, including the San Francisco and Los Angeles data from the last lesson. The 13 CSVs are each a different terminal market in the United States.

## Getting Started

Import the CSVs for each of the following cities: Baltimore, Boston, New York, and Philadelphia. Set up a dataframe for each city.

In [114]:
# Import the necessary libraries and CSVs. Make some dataframes!
import pandas as pd
import numpy as np

baltimore_csv = pd.read_csv("dataset/baltimore_9-24-2016_9-30-2017.csv")
boston_csv = pd.read_csv("dataset/boston_9-24-2016_9-30-2017.csv")
newyork_csv = pd.read_csv("dataset/new-york_9-24-2016_9-30-2017.csv")
philadelphia_csv = pd.read_csv("dataset/philadelphia_9-24-2016_9-30-2017.csv")

bm = pd.DataFrame(baltimore_csv)
bt = pd.DataFrame(boston_csv)
ny = pd.DataFrame(newyork_csv)
pp = pd.DataFrame(philadelphia_csv)

data = [bm, bt, ny, pp]

## Clean Your Data

In the last lesson, we cleaned the data to related to San Francisco. Pull up your notebook from the last lesson and use your cleaning skills to clean the dataframes as necessary.

In [115]:
# Clean your data here!

to_drop = ["Type", "Grade", "Origin District", "Environment", "Unit of Sale", 'Condition', 'Appearance', 'Storage', 'Crop', "Quality", "Trans Mode"]
bm = bm.drop(to_drop, axis=1)
bt = bt.drop(to_drop, axis=1)
pp = pp.drop(to_drop, axis=1)
ny = ny.drop(to_drop, axis=1)

display(ny)

for col in ny.columns:
    pct_missing = np.mean(ny[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

,Commodity Name,City Name,Package,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Item Size,Color,Repack
0,PUMPKINS,NEW YORK,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,150,170,150,170,MICHIGAN,xlge,NaN,N
1,PUMPKINS,NEW YORK,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,150,170,150,170,MICHIGAN,lge,NaN,N
2,PUMPKINS,NEW YORK,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,130,150,130,150,NEW JERSEY,xlge,NaN,N
3,PUMPKINS,NEW YORK,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,130,150,130,150,NEW JERSEY,lge,NaN,N
4,PUMPKINS,NEW YORK,36 inch bins,HOWDEN TYPE,NaN,09/24/2016,120,140,120,140,NEW YORK,med-lge,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107,PUMPKINS,NEW YORK,bushel cartons,MINIATURE,NaN,09/09/2017,32,32,32,32,OHIO,sml,NaN,N
108,PUMPKINS,NEW YORK,1 1/9 bushel crates,MINIATURE,ROUND TYPE,10/08/2016,18,18,18,18,NEW YORK,med,NaN,N
109,PUMPKINS,NEW YORK,1 1/9 bushel crates,MINIATURE,ROUND TYPE,10/08/2016,18,18,18,18,NEW YORK,sml,NaN,N
110,PUMPKINS,NEW YORK,1 1/9 bushel crates,MINIATURE,ROUND TYPE,10/15/2016,18,18,18,18,NEW YORK,med,NaN,N
111,PUMPKINS,NEW YORK,1 1/9 bushel crates,MINIATURE,ROUND TYPE,10/15/2016,18,18,18,18,NEW YORK,sml,NaN,N

Commodity Name - 0%
City Name - 0%
Package - 0%
Variety - 0%
Sub Variety - 84%
Date - 0%
Low Price - 0%
High Price - 0%
Mostly Low - 0%
Mostly High - 0%
Origin - 0%
Item Size - 7%
Color - 81%
Repack - 0%

## Combine Your Data

Now that you have four clean sets of data, combine all four into one dataframe that represents the entire Northeast region.

In [116]:
# Combine the four dataframes into one!
ne = pd.concat([bm, bt, ny, pp])
ne

,Commodity Name,City Name,Package,Variety,Sub Variety,Date,Low Price,High Price,Mostly Low,Mostly High,Origin,Item Size,Color,Repack
0,PUMPKINS,BALTIMORE,24 inch bins,NaN,NaN,04/29/2017,270,280.0,270,280.0,NaN,lge,NaN,E
1,PUMPKINS,BALTIMORE,24 inch bins,NaN,NaN,05/06/2017,270,280.0,270,280.0,NaN,lge,NaN,E
2,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,160,160.0,DELAWARE,med,NaN,N
3,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,09/24/2016,160,160.0,160,160.0,VIRGINIA,med,NaN,N
4,PUMPKINS,BALTIMORE,24 inch bins,HOWDEN TYPE,NaN,11/05/2016,90,100.0,90,100.0,MARYLAND,lge,NaN,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,11/05/2016,16,18.0,16,18.0,OHIO,NaN,NaN,N
53,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,08/26/2017,18,20.0,18,20.0,MICHIGAN,NaN,NaN,N
54,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,09/16/2017,16,16.0,16,16.0,OHIO,NaN,NaN,N
55,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,09/23/2017,15,16.0,15,16.0,OHIO,NaN,NaN,N
56,PUMPKINS,PHILADELPHIA,1/2 bushel cartons,MINIATURE,FLAT TYPE,09/30/2017,15,18.0,15,18.0,OHIO,NaN,NaN,N

## Answer Some Questions

Use `groupby()` and `agg()` to answer the following two questions:

1. What is the mean low and high prices for each type of unit of sale in the Northeast region? In the last lesson, we learned that a unit of sale could be something like a bin or individually. 
2. What is the average number of pumpkins for each variety that came into terminal markets for the year by region? Pumpkin varieties include Howden and Fairytale pumpkins.

In [117]:
# Put your code here to find the mean low and high prices in the Northeast region for each type of unit of sale.

low_sales = ne.groupby('Package')['Low Price'].mean()
high_sales = ne.groupby('Package')['High Price'].mean()

display(low_sales)
display(high_sales)

Package
1 1/9 bushel cartons     15.875000
1 1/9 bushel crates      16.058824
1/2 bushel cartons       16.030928
24 inch bins            188.005618
36 inch bins            170.458861
50 lb sacks              25.111111
bushel cartons           20.571429
each                     75.000000
Name: Low Price, dtype: float64

Package
1 1/9 bushel cartons     16.739583
1 1/9 bushel crates      16.705882
1/2 bushel cartons       17.597938
24 inch bins            202.808989
36 inch bins            196.550633
50 lb sacks              25.333333
bushel cartons           22.857143
each                     80.000000
Name: High Price, dtype: float64

In [118]:
# Put your code here to find the average number of pumpkins coming into terminal markets of each variety.
num_cities = len(ne['City Name'].unique())
print(ne['Variety'].value_counts()/num_cities)

Variety
HOWDEN TYPE                 56.00
PIE TYPE                    49.50
MINIATURE                   24.25
BIG MACK TYPE               13.75
CINDERELLA                   9.75
FAIRYTALE                    9.25
KNUCKLE HEAD                 2.25
BLUE TYPE                    1.75
MIXED HEIRLOOM VARIETIES     1.00
HOWDEN WHITE TYPE            0.50
Name: count, dtype: float64

## Bonus Mission

Try answering the same questions for the Midwest (Chicago, Detroit, and St. Louis) or the Southeast (Atlanta, Columbia, and Miami) regions.

In [119]:
# Try the bonus mission if you have time!