# Exploratory Data Analysis with pandas Studio

## Data Analysis of IMDB movies data

#### Blocks have been created for your code

#### Click on the following link and download the dataset from [Kaggle](https://www.kaggle.com/PromptCloudHQ/imdb-data).

### 1. Read data

In [18]:
# import pandas
import pandas as pd

# create your data variabe using .read_csv 
movies_csv = pd.read_csv('IMDB-Movie-Data.csv')
#movies_csv = pd.read_csv(r"C:\Users\Path\file.csv")
# create your data_indexed variable here
data_indexed = movies_csv

In [19]:
# If you are having trouble reading your file, try finding the path.  
    # Right click on your data set, on the pop-up menu select "Copy Path" then paste it into your read_csv() function.

In [28]:
# Read data with specified explicit index

print(data_indexed[1:9])

   Rank          Title                     Genre  \
1     2     Prometheus  Adventure,Mystery,Sci-Fi
2     3          Split           Horror,Thriller
3     4           Sing   Animation,Comedy,Family
4     5  Suicide Squad  Action,Adventure,Fantasy

                                         Description              Director  \
1  Following clues to the origin of mankind, a te...          Ridley Scott
2  Three girls are kidnapped by a man with a diag...    M. Night Shyamalan
3  In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
4  A secret government agency recruits some of th...            David Ayer

                                              Actors  Year  Runtime (Minutes)  \
1  Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012                124
2  James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016                117
3  Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016                108
4  Will Smith, Jared Leto, Margot Robbie, Viola D...  2016                123

   Rating   Votes  Revenue (Millions)  Metascore
1     7.0  485820              126.46       65.0
2     7.3  157606              138.12       62.0
3     7.2   60545              270.32       59.0
4     6.2  393727              325.02       40.0

### 2. View Data
#### As we go through this section, write your own definitions of what each function does as a comment in the code box.

In [41]:
# Use the head() function to view the first 5 rows of the data set
data_indexed1 = movies_csv.head(8)
print(data_indexed1)

   Rank                    Title                     Genre  \
0     1  Guardians of the Galaxy   Action,Adventure,Sci-Fi
1     2               Prometheus  Adventure,Mystery,Sci-Fi
2     3                    Split           Horror,Thriller
3     4                     Sing   Animation,Comedy,Family
4     5            Suicide Squad  Action,Adventure,Fantasy
5     6           The Great Wall  Action,Adventure,Fantasy
6     7               La La Land        Comedy,Drama,Music
7     8                 Mindhorn                    Comedy

                                         Description              Director  \
0  A group of intergalactic criminals are forced ...            James Gunn
1  Following clues to the origin of mankind, a te...          Ridley Scott
2  Three girls are kidnapped by a man with a diag...    M. Night Shyamalan
3  In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
4  A secret government agency recruits some of th...            David Ayer
5  European mercenaries searching for black powde...           Yimou Zhang
6  A jazz pianist falls for an aspiring actress i...       Damien Chazelle
7  A has-been actor best known for playing the ti...            Sean Foley

                                              Actors  Year  Runtime (Minutes)  \
0  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014                121
1  Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012                124
2  James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016                117
3  Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016                108
4  Will Smith, Jared Leto, Margot Robbie, Viola D...  2016                123
5      Matt Damon, Tian Jing, Willem Dafoe, Andy Lau  2016                103
6  Ryan Gosling, Emma Stone, Rosemarie DeWitt, J....  2016                128
7  Essie Davis, Andrea Riseborough, Julian Barrat...  2016                 89

   Rating   Votes  Revenue (Millions)  Metascore
0     8.1  757074              333.13       76.0
1     7.0  485820              126.46       65.0
2     7.3  157606              138.12       62.0
3     7.2   60545              270.32       59.0
4     6.2  393727              325.02       40.0
5     6.1   56036               45.13       42.0
6     8.3  258682              151.06       93.0
7     6.4    2490                 NaN       71.0

### 3. Understand basic information about the data
#### As we go through this section, write your own definitions of what each function does as a comment in the code box.

In [42]:
# Use the tail() function to view the last 5 rows of the data set
data_indexed2 = movies_csv.tail(9)
print(data_indexed2)

     Rank                     Title                    Genre  \
991   992          Taare Zameen Par       Drama,Family,Music
992   993      Take Me Home Tonight     Comedy,Drama,Romance
993   994  Resident Evil: Afterlife  Action,Adventure,Horror
994   995                 Project X                   Comedy
995   996      Secret in Their Eyes      Crime,Drama,Mystery
996   997           Hostel: Part II                   Horror
997   998    Step Up 2: The Streets      Drama,Music,Romance
998   999              Search Party         Adventure,Comedy
999  1000                Nine Lives    Comedy,Family,Fantasy

                                           Description            Director  \
991  An eight-year-old boy is thought to be a lazy ...          Aamir Khan
992  Four years after graduation, an awkward high s...       Michael Dowse
993  While still out to destroy the evil Umbrella C...  Paul W.S. Anderson
994  3 high school seniors throw a birthday party t...     Nima Nourizadeh
995  A tight-knit team of rising investigators, alo...           Billy Ray
996  Three American college students studying abroa...            Eli Roth
997  Romantic sparks occur between two dance studen...          Jon M. Chu
998  A pair of friends embark on a mission to reuni...      Scot Armstrong
999  A stuffy businessman finds himself trapped ins...    Barry Sonnenfeld

                                                Actors  Year  \
991  Darsheel Safary, Aamir Khan, Tanay Chheda, Sac...  2007
992  Topher Grace, Anna Faris, Dan Fogler, Teresa P...  2011
993  Milla Jovovich, Ali Larter, Wentworth Miller,K...  2010
994  Thomas Mann, Oliver Cooper, Jonathan Daniel Br...  2012
995  Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...  2015
996  Lauren German, Heather Matarazzo, Bijou Philli...  2007
997  Robert Hoffman, Briana Evigan, Cassie Ventura,...  2008
998  Adam Pally, T.J. Miller, Thomas Middleditch,Sh...  2014
999  Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...  2016

     Runtime (Minutes)  Rating   Votes  Revenue (Millions)  Metascore
991                165     8.5  102697                1.20       42.0
992                 97     6.3   45419                6.92        NaN
993                 97     5.9  140900               60.13       37.0
994                 88     6.7  164088               54.72       48.0
995                111     6.2   27585                 NaN       45.0
996                 94     5.5   73152               17.54       46.0
997                 98     6.2   70699               58.01       50.0
998                 93     5.6    4881                 NaN       22.0
999                 87     5.3   12435               19.64       11.0

In [45]:
# The info() - 	Prints a concise summary of a DataFrame, including column data types and non-null values. - function: 
print(data_indexed.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                5 non-null      int64
 1   Title               5 non-null      object
 2   Genre               5 non-null      object
 3   Description         5 non-null      object
 4   Director            5 non-null      object
 5   Actors              5 non-null      object
 6   Year                5 non-null      int64
 7   Runtime (Minutes)   5 non-null      int64
 8   Rating              5 non-null      float64
 9   Votes               5 non-null      int64
 10  Revenue (Millions)  5 non-null      float64
 11  Metascore           5 non-null      float64
dtypes: float64(3), int64(4), object(5)
memory usage: 612.0+ bytes
None

In [46]:
# shape - dimensions of a dataframe:
print(movies_csv.shape)

# what information does shape provide?  what is the order?

(1000, 12)

In [47]:
# columns:
print(movies_csv.columns)

# what information does columns provide?

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [48]:
# The describe() function: 
print(movies_csv.describe())

              Rank         Year  Runtime (Minutes)       Rating         Votes  \
count  1000.000000  1000.000000        1000.000000  1000.000000  1.000000e+03
mean    500.500000  2012.783000         113.172000     6.723200  1.698083e+05
std     288.819436     3.205962          18.810908     0.945429  1.887626e+05
min       1.000000  2006.000000          66.000000     1.900000  6.100000e+01
25%     250.750000  2010.000000         100.000000     6.200000  3.630900e+04
50%     500.500000  2014.000000         111.000000     6.800000  1.107990e+05
75%     750.250000  2016.000000         123.000000     7.400000  2.399098e+05
max    1000.000000  2016.000000         191.000000     9.000000  1.791916e+06

       Revenue (Millions)   Metascore
count          872.000000  936.000000
mean            82.956376   58.985043
std            103.253540   17.194757
min              0.000000   11.000000
25%             13.270000   47.000000
50%             47.985000   59.500000
75%            113.715000   72.000000
max            936.630000  100.000000

### 4. Data Selection -- Indexing and Slicing

In [58]:
#  Extract data as series
# define and print the variable 'genre'
print(movies_csv['Genre'])

0       Action,Adventure,Sci-Fi
1      Adventure,Mystery,Sci-Fi
2               Horror,Thriller
3       Animation,Comedy,Family
4      Action,Adventure,Fantasy
                 ...
995         Crime,Drama,Mystery
996                      Horror
997         Drama,Music,Romance
998            Adventure,Comedy
999       Comedy,Family,Fantasy
Name: Genre, Length: 1000, dtype: object

In [61]:
# Extract the data as a dataframe and print it
df = pd.DataFrame(movies_csv)
print(df)

     Rank                    Title                     Genre  \
0       1  Guardians of the Galaxy   Action,Adventure,Sci-Fi
1       2               Prometheus  Adventure,Mystery,Sci-Fi
2       3                    Split           Horror,Thriller
3       4                     Sing   Animation,Comedy,Family
4       5            Suicide Squad  Action,Adventure,Fantasy
..    ...                      ...                       ...
995   996     Secret in Their Eyes       Crime,Drama,Mystery
996   997          Hostel: Part II                    Horror
997   998   Step Up 2: The Streets       Drama,Music,Romance
998   999             Search Party          Adventure,Comedy
999  1000               Nine Lives     Comedy,Family,Fantasy

                                           Description              Director  \
0    A group of intergalactic criminals are forced ...            James Gunn
1    Following clues to the origin of mankind, a te...          Ridley Scott
2    Three girls are kidnapped by a man with a diag...    M. Night Shyamalan
3    In a city of humanoid animals, a hustling thea...  Christophe Lourdelet
4    A secret government agency recruits some of th...            David Ayer
..                                                 ...                   ...
995  A tight-knit team of rising investigators, alo...             Billy Ray
996  Three American college students studying abroa...              Eli Roth
997  Romantic sparks occur between two dance studen...            Jon M. Chu
998  A pair of friends embark on a mission to reuni...        Scot Armstrong
999  A stuffy businessman finds himself trapped ins...      Barry Sonnenfeld

                                                Actors  Year  \
0    Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014
1    Noomi Rapace, Logan Marshall-Green, Michael Fa...  2012
2    James McAvoy, Anya Taylor-Joy, Haley Lu Richar...  2016
3    Matthew McConaughey,Reese Witherspoon, Seth Ma...  2016
4    Will Smith, Jared Leto, Margot Robbie, Viola D...  2016
..                                                 ...   ...
995  Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...  2015
996  Lauren German, Heather Matarazzo, Bijou Philli...  2007
997  Robert Hoffman, Briana Evigan, Cassie Ventura,...  2008
998  Adam Pally, T.J. Miller, Thomas Middleditch,Sh...  2014
999  Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...  2016

     Runtime (Minutes)  Rating   Votes  Revenue (Millions)  Metascore
0                  121     8.1  757074              333.13       76.0
1                  124     7.0  485820              126.46       65.0
2                  117     7.3  157606              138.12       62.0
3                  108     7.2   60545              270.32       59.0
4                  123     6.2  393727              325.02       40.0
..                 ...     ...     ...                 ...        ...
995                111     6.2   27585                 NaN       45.0
996                 94     5.5   73152               17.54       46.0
997                 98     6.2   70699               58.01       50.0
998                 93     5.6    4881                 NaN       22.0
999                 87     5.3   12435               19.64       11.0

[1000 rows x 12 columns]

In [62]:
# Extract data using rows

# loc function
print(df.loc[3])

Rank                                                                  4
Title                                                              Sing
Genre                                           Animation,Comedy,Family
Description           In a city of humanoid animals, a hustling thea...
Director                                           Christophe Lourdelet
Actors                Matthew McConaughey,Reese Witherspoon, Seth Ma...
Year                                                               2016
Runtime (Minutes)                                                   108
Rating                                                              7.2
Votes                                                             60545
Revenue (Millions)                                               270.32
Metascore                                                          59.0
Name: 3, dtype: object

In [63]:
# iloc function
print(df.iloc[5])

Rank                                                                  6
Title                                                    The Great Wall
Genre                                          Action,Adventure,Fantasy
Description           European mercenaries searching for black powde...
Director                                                    Yimou Zhang
Actors                    Matt Damon, Tian Jing, Willem Dafoe, Andy Lau
Year                                                               2016
Runtime (Minutes)                                                   103
Rating                                                              6.1
Votes                                                             56036
Revenue (Millions)                                                45.13
Metascore                                                          42.0
Name: 5, dtype: object

### 5. Data Selection - Based on Conditional Filtering

In [66]:
# Use the code block to select movies that have been released between 2010-2016, with a rating of less than 6.0, but generated a signifianct (top) revenue.
data_select = df[(df['Year'] >= 2016) & (df['Year'] >= 2010) & (df['Rating'] < 6) & (df['Revenue (Millions)'] > 45)]
print(data_select)

     Rank                         Title                       Genre  \
24     25  Independence Day: Resurgence     Action,Adventure,Sci-Fi
29     30              Assassin's Creed      Action,Adventure,Drama
79     80                  Ghostbusters       Action,Comedy,Fantasy
115   116        Office Christmas Party                      Comedy
204   205                     Allegiant    Action,Adventure,Mystery
292   293  Neighbors 2: Sorority Rising                      Comedy
296   297     Ice Age: Collision Course  Animation,Adventure,Comedy
424   425             London Has Fallen          Action,Crime,Drama
525   526           Birth of the Dragon      Action,Biography,Drama
531   532                Friend Request             Horror,Thriller
580   581          Kickboxer: Vengeance                      Action
740   741                      The Boss                      Comedy
855   856      Barbershop: The Next Cut                Comedy,Drama

                                           Description          Director  \
24   Two decades after the first Independence Day i...   Roland Emmerich
29   When Callum Lynch explores the memories of his...     Justin Kurzel
79   Following a ghost invasion of Manhattan, paran...         Paul Feig
115  When his uptight CEO sister threatens to shut ...       Josh Gordon
204  After the earth-shattering revelations of Insu...  Robert Schwentke
292  When their new next-door neighbors turn out to...  Nicholas Stoller
296  Manny, Diego, and Sid join up with Buck to fen...    Mike Thurmeier
424  In London for the Prime Minister's funeral, Mi...      Babak Najafi
525  Young, up-and-coming martial artist, Bruce Lee...      George Nolfi
531  When a college student unfriends a mysterious ...   Simon Verhoeven
580         A kick boxer is out to avenge his brother.    John Stockwell
740  A titan of industry is sent to prison after sh...       Ben Falcone
855  As their surrounding community has taken a tur...    Malcolm D. Lee

                                                Actors  Year  \
24   Liam Hemsworth, Jeff Goldblum, Bill Pullman,Ma...  2016
29   Michael Fassbender, Marion Cotillard, Jeremy I...  2016
79   Melissa McCarthy, Kristen Wiig, Kate McKinnon,...  2016
115  Jason Bateman, Olivia Munn, T.J. Miller,Jennif...  2016
204  Shailene Woodley, Theo James, Jeff Daniels,Nao...  2016
292  Seth Rogen, Rose Byrne, Zac Efron, ChloÃ« Grace...  2016
296  Ray Romano, Denis Leary, John Leguizamo, Chris...  2016
424  Gerard Butler, Aaron Eckhart, Morgan Freeman,A...  2016
525  Billy Magnussen, Terry Chen, Teresa Navarro,Va...  2016
531  Alycia Debnam-Carey, William Moseley, Connor P...  2016
580  Dave Bautista, Alain Moussi, Gina Carano, Jean...  2016
740  Melissa McCarthy, Kristen Bell, Peter Dinklage...  2016
855       Ice Cube, Regina Hall, Anthony Anderson, Eve  2016

     Runtime (Minutes)  Rating   Votes  Revenue (Millions)  Metascore
24                 120     5.3  127553              103.14       32.0
29                 115     5.9  112813               54.65       36.0
79                 116     5.3  147717              128.34       60.0
115                105     5.8   30761               54.73       42.0
204                120     5.7   70504               66.00       33.0
292                 92     5.7   76327               55.29       58.0
296                 94     5.7   34523               64.06       34.0
424                 99     5.9  100702               62.40       28.0
525                103     3.9     552               93.05       61.0
531                 92     5.4   12758               64.03       59.0
580                 90     4.9    6809              131.56       37.0
740                 99     5.4   29642               63.03       40.0
855                111     5.9    9993               54.01       67.0

In [117]:
# Note: The article is expecting more than 1 Twilight movie at the time of publishing.  
#To find the second Twilight movie, try manipulating the quantile value.  
#How specific can you get?